#glob-footer{
    grid-area: Footer;
    display: flex;
    flex-direction: row;
    background-color: var(--other-surface-color);
    border: var(--border-color) 5px solid;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    /*border-bottom: 0px;*/
}

#send-msg-txt{
    width: 100%;
    height: 100%;
}

#send-msg-btn{
    width: 10%;
    height: 100%;
}